.text-black{ color:#212121;}

.x-cards{padding-top:0;}
.panel{ border:0;}
.panel.panel-default{ margin-bottom:10px;}
.row{ margin:0;}

.tb-nopadding{ padding:0;}
.btn i{ font-size:20px;}
.btn span{ font-size:12px; font-weight:normal;}


/*底部*/
.btn-group{ background-color:#fff;}
.x-card.btn-group .btn{ color:#A0A0A0;}
.x-card.btn-group .btn.active{ border-bottom:2px solid #121617;color:#121617;}
.btn-group .btn i{ font-size:30px; padding-bottom:0;}


/*daily*/

/*sentence*/
.bggray{color:#A0A0A0;}
.bgred{color:#F47474;}
/*.btn:hover {color: #F47474;}
.btn:focus {color: #F47474;}
.btn:active {color: #F47474;}*/

/*.x-btn-checkbox {background-color:#A0A0A0;}
.x-btn-checkbox {color:#A0A0A0;}*/
